.btn-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.btn {
  width: 75px;
  text-align: center;
  padding: 2px 5px;
  border-radius: 3px;
  background-color: #cccccc;
  border: 2px solid transparent;
}

.btn:hover {
  border: 2px solid black;
  background-color: #ffd802;
}
